@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;/*font-family: 'Poppins', sans-serif; */
}

nav{
    position: fixed;
    width: 100%;
    top: 1rem;
    z-index: 10;
}
.nav-div{
    background-color:  white;
    display: flex;
    gap: 8rem;
    justify-content: center;
    margin: 0rem 7rem ;
    padding: 0.2rem 0 0.5rem 0;
    border-radius: 3px;
    box-shadow: 1px 2px 20px 2px rgba(73, 73, 73, 0.334) ;
    align-items: center;
}

.nav-items{
    display: flex;
    gap: 5rem;
    font-size: small;
   
}

.nav-items a{
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 1rem 2rem;
}

.nav-items a:hover{
    color: white;
    background-color: black;
    
}

.first-button{
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border: none;
    background-image: linear-gradient(0deg,rgb(52, 52, 252),rgb(63, 141, 244));
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.logo img{
    width: 2rem;
    height: 2rem;
}

.logo{
    display: flex;
    gap: 0.7rem;
}

.home-sec{
    background-image: url('./Image/home.jpg');
    background-size: cover; /* or specify 'contain' or custom values */
    background-position: top; /* or specify custom position */
    background-repeat: no-repeat;
    height: 45rem;  
    position: relative;
    top: 0;
    z-index: 1;
}

.home-sec::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 70%;
    z-index: -1;

}

.home-statement{
    padding-top: 15rem;
    padding-left:7rem ;
}

.two , .two-1{
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    color: white;
    opacity: 85%;
}

.one{
    font-size: small;
    color: white;
    opacity: 85%;
}

.three{
    font-size: small;
    color: white;
    opacity: 85%;
}

.second-button{
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    margin-top: 2rem;
    border: none;
    background-image: linear-gradient(0deg,rgb(52, 52, 252),rgb(63, 141, 244));
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    color: white;
    box-shadow: 1px 2px 20px 2px rgba(231, 229, 229, 0.334);
}

.first-txt{
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    margin-top: -0.4rem;
}

.second-txt{
    font-family: 'Poppins', sans-serif;
    font-size: small;
    margin-top: -0.5rem;
}

.check-box{
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.about-sec{
    display: flex;
    margin: 7rem 7rem;
    gap: 5rem;
}

.about-sec img{
    height: 35rem;
}

.header-line{
    display: flex;
    gap: 1rem;
}

.dash-vert1{
    height: 1rem;
    width: 2px;
    border-radius: 2px;
    background-color: rgb(54, 127, 253);
}

.about{
    font-weight:bolder;
    font-size: small;
    margin-bottom: 1rem;
    color: rgb(54, 127, 253);
}

.prov, .sns{
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    opacity: 85%;
}

.sns{
    margin-top: -1.5rem;
}

.head-text{
    padding: 2rem 3rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 2px 20px 2px rgba(73, 73, 73, 0.334) ;
    font-size: 1rem;
}

.head-n{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    font-weight: bold;

}

.dash-line{
    height: 1.5px;
    width: 1rem;
    border-radius: 2px;
    background-color: rgb(54, 127, 253);
    margin-top: 0.6rem;
}

.head-name1{
    color:  rgb(54, 127, 253);
}

.service-sec .header-line {
    margin: 0 7rem;
    padding-top: 2rem;
}

.spec{
    display: flex;
    gap: 2rem;
    margin: 2rem 0 ;
    font-size: small;
}

.spec p{
    margin-top: 10px;
}

.dash-vert2{
    height: 2.5rem;
    width: 1px;
    border-radius: 2px;
    background-color: rgba(99, 99, 100, 0.282);
    margin-top: 0.6rem;
}

.service-sec{
    background-color: rgb(244, 245, 248);
    height: 40rem;
}

.wt, .pt{
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    opacity: 85%;
    margin: 0 7rem;
}

.pt{
    margin-top: -1.5rem;
}

.option{
    display: flex;
    gap: 3.5rem;
    margin-top: 6px;
    font-size: small;
}

.card-sec{
    display: flex;
    gap: 4rem;
    margin: 1rem 7rem;
}

.service-card{
    padding: 3rem;
    background-color: white;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.048);
    border-width: 2px;
}

.s-01{
    margin-top: 1rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.p-01{
    margin-bottom: 1rem;
    font-weight: bolder;
}

.person{
    font-size: 2rem;
    color:  rgb(54, 127, 253);
}

.option i{
    color:  rgb(54, 127, 253);
}

.mess-inner{
    display: flex;
    gap: 1rem;
    margin-top: 8px;
}

.gh{
    display: flex;
    gap: 5rem;
    background-color: white ;
    padding: 1rem 2rem;
    border-radius: 2px;
    box-shadow: 1px 2px 20px 2px rgba(73, 73, 73, 0.334) ;
    justify-content: center;
    margin: 0 7rem;
    margin-top: -3rem;
    font-size: small;
    font-weight: bold;
    
}

.mess-inner i{
    color: rgb(54, 127, 253) ;
    margin-top: 10px;
}

.ms-line{
    height: 3rem;
    width: 1.5px;
    border-radius: 2px;
    background-color: rgba(99, 99, 100, 0.282);
    margin-left: 4rem;
}

.target{
    display: grid;
    justify-content: center;
    margin: 7rem 0;
}

.target-sent01, .target-sent02 {
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    display: grid;
    justify-content: center;
}

.target-sent02{
    margin-top: -1.5rem;
}

.target .header-line{
    display: flex;
    justify-content: center;
}

.target-btn{
    display: grid;
    justify-content: center;
}

.contact-sec{
    margin: 0rem 7rem 7rem 7rem;
}

.snd-mess{
    display: flex;
}

.send-mess{
    background-color: white ;
    padding: 4rem 12rem 5rem 10rem;
    border-radius: 2px;
    box-shadow: 1px 2px 20px 2px rgba(73, 73, 73, 0.334) ;
    margin-top: 2rem;
}

.get-in-t p{
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
}

#form input{
    width: 25rem;
    height: 2.5rem;
    border: 1px solid rgba(121, 121, 121, 0.23);
    border-radius: 3px;
}

.info-sec{
    width: 15rem;
    background-image: linear-gradient(0deg,rgb(52, 52, 252),rgb(63, 141, 244));
    border-radius: 2px;
    height: 15rem;
    padding: 5rem;
    margin-top: 5.5rem;
    margin-left: -3rem;
    
}

.info-sen{
    font-weight: bold;
    color: white;
    margin-bottom: 2.5rem;
}

.contact-info{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    color: white;
}

#form input:focus{
    outline: none;
    border: 1.5px solid rgb(54, 127, 253); 
    background-color: white;
}

.message-text0{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.foot01{
    display: flex;
    margin: 0 7rem;
    justify-content: center;
    gap: 10rem;
}

.foot-sec{
    padding-top: 3rem;
    color: white;
    background-image: url(./Image/footer.jpg);
    background-size: cover; /* or specify 'contain' or custom values */ /* or specify custom position */
    background-repeat: no-repeat;
    height: 22rem;  
    position: relative;
    top: 0;
    z-index: 1;
}

.foot-sec::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 70%;
    z-index: -1;
}

.quick-l-sub a{
    color: white;
    text-decoration: none;
    display: flex;
    font-size: small;
    margin-top: 15px;

}

.get-sec-sub, .service-foot-sub{
    display: grid;
    gap: 15px;
    font-size: small;
    margin-top: 15px;

}

.white-sec{
    display: flex;
    gap: 7rem;
    margin: 0 7rem;
    background-color: white;
    color: black;
    justify-content: center;
    margin: 0rem 7rem ;
    padding: 1rem 0 1rem 0;
    border-radius: 3px;
    box-shadow: 1px 2px 20px 2px rgba(209, 205, 205, 0.334) ;
    align-items: center;
}

.final-foot{
    margin-top: 4rem;
}

.socials{
    display: flex;
    gap: 1.5rem;
    color: rgb(77, 157, 249);
}

.copyright{
    font-size: small;
}

.foot-btn-02{
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border: none;
    background-image: linear-gradient(0deg,rgb(52, 52, 252),rgb(63, 141, 244));
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 9.5rem;
    margin-top: 15px;
}

.foot-btn-01{
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border: none;
    background-color: black;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: 2px solid rgba(134, 158, 203, 0.445);
}

.foot-sec-btn01{
    display: grid;
    margin-top: 15px;
}

.get-sec-head, .quick-l-head, .footer-mess-head, .footer-mess-sub, .service-foot-head
{
    font-weight: bold;
}

.footer-mess-sub
{
    margin-top: 15px;
}


.input-group{
    display: flex;
    position: relative;
}

.input-group p{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s ease-in;
    font-size: small;
}

.input-group input{
    font-weight: 600;
    border-radius: 2px;
    padding-left: 1rem;
}

.input-group input:focus~.n-name,
.input-group input:valid~.n-name{
    top: 0;
    font-size: small;
    padding: 5px;
    color: rgb(54, 127, 253);
    background-color: white;
    font-weight: bold;
}

.input-group {
    margin-bottom: 1.5rem;
}


.pop-up{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 350px;
   height: 200px;
   padding: 2rem;
   z-index: 2;
   text-align: center;
   background-color: white;
   border-radius: 3px;
   box-shadow: 1px 2px 20px 2px rgba(209, 205, 205, 0.334) ;
   opacity: 0;
   top: -200%;
   transform: translate(-50%,-50%) scale(0.5);
   transition: opacity 300ms ease-in-out, top 1000ms ease-in-out;
   }

.pop-up.active{
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.pop-up i{
    color:rgb(54, 127, 253) ;
    font-size: 1rem;
    font-weight: bold;
   }

.chech-i{
    display: inline-block;
    padding: 1rem ;
    height: 1rem;
    width: 1rem;
    border: 3px solid rgb(54, 127, 253);
    border-radius: 2rem;
}

.head-mess{
    font-weight: bold;
    margin-top: 1rem;
    color: rgb(54, 127, 253) ;
}

.ret-n{
    margin-top: 1rem;
    font-size: small;
}

.mess-button{
    margin-top: 1rem;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border: none;
    background-image: linear-gradient(0deg,rgb(52, 52, 252),rgb(63, 141, 244));
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
    /* transition: all 300ms ease-in-out; */
}

